@model AuthorViewModel
@{
	Layout = "_Layout";
	ViewData["Title"] = "Tuxedo Books";
}
@if (TempData.Keys.Contains("message"))
{
	<h4 class="bg-success p-2">@TempData["message"]</h4>
}

<div class="m-5">
<div>
	<h2>Authors</h2>
	<form method="get" asp-action="Index" asp-controller="Author">
		<table style="border=0">
			<tr>
				<td>  <label for="searchName">Search by Name:</label>  </td>
				<td>
					<div class="m-3" style="width: 200px;">

						@Html.TextBox("searchName", "", new { @class = "form-control" })
					</div>
				</td>
				<td>
					<button type="submit" class="btn btn-primary">Search</button>
				</td>
			</tr>
		</table>
	</form>
</div>
<table class="table table-bordered table-striped">
	<thead>
		<tr class="text-white bg-dark">
			<th>Author ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Author author in Model.AuthorPageResult)
		{
			<tr>
				<td>@author.AuthorId</td>
				<td>@author.FirstName</td>
				<td>@author.LastName</td>
				<td>

						<a method="get" asp-action="Details" asp-controller="Author" asp-route-authorId="@author.AuthorId">
								<button type="submit" class="btn btn-primary">
							Details
						</button>
							<input type="hidden" asp-for="@author.AuthorId" />
							</a>


						<a method="get" asp-action="Delete" asp-controller="Author" asp-route-authorId="@author.AuthorId">
								<button type="submit" class="btn btn-danger">
							Delete
						</button>
						<input type="hidden" asp-for="@author.AuthorId" />
							</a>
							
				</td>
			</tr>
		}
	</tbody>
</table>
<div class="text-center">
	<pager asp-action="AuthorList" asp-controller="AuthorController" asp-route-page="@Model.AuthorPageResult.PageNumber" asp-route-pageSize="@Model.AuthorPageResult.PageSize" asp-route-totalItemCount="@Model.AuthorPageResult.TotalCount" id="authorPager">
		<ul class="pagination">
			<li class="page-item @((Model.AuthorPageResult.PageNumber == 1) ? "disabled" : "")">
				<a class="page-link" href="@(Url.Page("/AuthorList", new { page = 1, pageSize = Model.AuthorPageResult.PageSize }))">1</a>
			</li>
			@for (int i = 2; i <= Model.AuthorPageResult.TotalPages; i++)
			{
				<li class="page-item @(Model.AuthorPageResult.PageNumber == i ? "active" : "")">
					<a class="page-link" href="@(Url.Action("Index", "Author", new { page = i, pageSize = Model.AuthorPageResult.PageSize }))">@i</a>
				</li>
			}
			<li class="page-item @((Model.AuthorPageResult.PageNumber == Model.AuthorPageResult.TotalPages) ? "disabled" : "")">
				<a class="page-link" href="@(Url.Action("Index", "Author", new { page = Model.AuthorPageResult.PageNumber + 1, pageSize = Model.AuthorPageResult.PageSize }))">Next</a>
			</li>
		</ul>
	</pager>
</div>
</div>

